# Dependencies
node_modules

# Build outputs
.nuxt
.output
dist

# Development files
.git
.gitignore
.env*
!.env.example

# IDE
.vscode
.idea

# Test files
*.test.ts
*.spec.ts
__tests__

# Documentation
docs
*.md
!README.md

# Misc
.DS_Store
Thumbs.db
